// any animations and associated utility classes declared here
.caret {
    transition: transform 0.8s ease-in-out;
    &--active {
        transform: rotate(180deg);
        transition: transform 0.6s ease-in-out;
    }
}