// used for webkit & local font loading via @fontface

// Example declaration:
// @font-face {
//     font-family: 'XX';
//     font-style: normal;
//     font-display: swap;
//     src: url('~assets/fonts/XX.ttf') format('truetype')
// }

@font-face {
    font-family: 'Anton Regular';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('~/assets/fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Hey August';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('~/assets/fonts/Hey-August.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('~/assets/fonts/Raleway-Regular.ttf') format('truetype');
}