// Breakpoints
$xs: 0;
$sm: 480px;
$premd: 600px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1500px;
$xxxl: 1536px;

$container-width: 1240px;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 600;
$bolder: 800;

// Fonts
$heading: 'Hey August', sans-serif;
$anton: 'Anton Regular', sans-serif;
$body: 'Raleway', sans-serif;

// Colours
$pink: #ff00c8;
$black: #000f14;